.front #content 
  {
  margin-left:480px;
  margin-right:-960px;
  width:480px;
  }

/** sidebar-left **/
.front #sidebar-left
  {
    float: left;
    width: 480px;
    margin-left: 0;
    margin-right: -480px; /* Negative value of #sidebar-left's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
  }

.front #sidebar-left-inner
  {
    margin: 0 20px 0 0;
    padding:0px 0px 10px 10px;
  }
  
.front #sidebar-right
  {
   display: none;
  }  
  
  
.front .front-left-img  {
    background: #fff url("images/cbmr-front-left-top.jpg") no-repeat 0 0;
    border: 1px solid #44b025;
    width: 458px;
    height: 57px;
}

.front .front-right-img  {
    background: #fff url("images/cbmr-front-right-top.jpg") no-repeat 0 0;
    border: 1px solid #44b025;
    width: 458px;
    height: 57px;
}



.front #content-inner {
padding:0px 15px 10px 10px;
}



.front .view-front-left-teaser .views-field-title, .front .view-front-right-node .views-field-title-first  {
    background: #fff url("images/cbmr-front-titles.png") no-repeat 0 0;
    border: 1px solid #44b025;
    width: 450px;
    height: 20px;
    margin-top: 2px;
    color: #4488c7;
    padding: 2px 0 0 8px;
}

.front .view-front-right-node .views-field-title, .front .view-front-left-teaser .views-field-teaser {
padding-top: 1em;
}

.front .view-front-right-node .views-field-teaser, .front .view-front-left-teaser .views-field-teaser {
padding-bottom: 1em;
}

.front .view-front-right-node .views-field-teaser p, .front .view-front-left-teaser .views-field-teaser p {
margin: 0;
}

.front .view-front-right-node .views-field-view-node, .front .view-front-left-teaser  .views-field-view-node {
float: right;
display: inline;
padding: 2px 0 0 4px;
}

.front .view-front-right-node .readmore-img, .front .view-front-left-teaser  .readmore-img {
background: transparent url("images/cbmr-readmore-img.png") no-repeat 0 0;
width: 54px;
height: 24px;
display: inline-block;
float: right;
}
